body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  background: #fafafa;
}

h2 {
  background: #6cd0f1;
  color: white;
  padding: 12px;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#map {
  height: 90vh;
  width: 100%;
  border-top: 3px solid #241d1d;
}
/* Responsive pour la carte */
@media (max-width: 768px) {
  #map {
    height: 70vh; /* moins haut sur tablettes et petits écrans */
  }
}

@media (max-width: 480px) {
  #map {
    height: 60vh; /* encore moins haut sur smartphones portrait */
  }
}

